<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container" th:object="${shiftFormDTO}">
    <h1>Shift Form</h1>

    <form th:action="@{${#request.requestURI}}" method="post">
        <div class="form-group">
            <label th:for="date">Date</label>
            <input type="date" th:field="*{date}" required="required" class="form-control"
                   th:readonly="${#bools.isFalse(#request.requestURI.endsWith('new'))}"/>
            <p class="error" th:errors="*{date}"></p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label th:for="startTime">Start Time</label>
                    <input type="time" th:field="*{startTime}" required="required" class="form-control"
                           th:readonly="${#bools.isFalse(#request.requestURI.endsWith('new'))}"/>
                    <p class="error" th:errors="*{startTime}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label th:for="startMileage">Start Mileage</label>
                    <input type="text" th:field="*{startMileage}" class="form-control"
                           th:readonly="${#bools.isFalse(#request.requestURI.endsWith('new'))}"/>
                    <p class="error" th:errors="*{startMileage}"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label th:for="endTime">End Time</label>
                    <input type="time" th:field="*{endTime}" required="required" class="form-control"
                           th:readonly="${#bools.isFalse(#request.requestURI.endsWith('new'))}"/>
                    <p class="error" th:errors="*{endTime}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label th:for="endMileage">End Mileage</label>
                    <input type="text" th:field="*{endMileage}" class="form-control"
                           th:readonly="${#bools.isFalse(#request.requestURI.endsWith('new'))}"/>
                    <p class="error" th:errors="*{endMileage}"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label th:for="miles">Miles</label>
                    <input type="text" th:field="*{miles}" class="form-control"
                           th:readonly="${#bools.isFalse(#request.requestURI.endsWith('new'))}"/>
                    <p class="error" th:errors="*{miles}"></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label th:for="mpg">MPG</label>
                    <input type="text" th:field="*{mpg}" class="form-control"
                           th:readonly="${#bools.isFalse(#request.requestURI.endsWith('new'))}"/>
                    <p class="error" th:errors="*{mpg}"></p>
                </div>
            </div>
        </div>

        <div th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.globalErrors()}">
            <p class="error" th:text="${error}"></p>
        </div>

        <div class="form-group" th:unless="${#request.requestURI.endsWith('new')}">
            <button id="editButton" type="button" onclick="changeEditState();" class="btn btn-primary">Edit</button>
            <button id="cancelButton" type="reset" onclick="changeEditState();" class="btn btn-warning"
                    hidden="true" disabled="true">Cancel Edit</button>
        </div>

        <div class="form-group" th:hidden="${#bools.isFalse(#request.requestURI.endsWith('new'))}">
            <input id="saveButton" type="submit" value="Save" class="btn btn-success"
                   th:disabled="${#bools.isFalse(#request.requestURI.endsWith('new'))}"/>
        </div>
    </form>

    <th:block th:if="*{deliveries != null && (#lists.size(deliveries) > 0)}">
        <h2>Deliveries During Shift</h2>
        <table th:replace="/delivery/fragments :: table"></table>
    </th:block>

</div>

<script th:src="@{/js/form-mode.js}"></script>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
