<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container">
    <h1>Welcome Admin: <span sec:authentication="name"></span></h1>

    <p>Current Roles/Authorities: <span sec:authentication="principal.authorities"></span></p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Roles</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}" th:object="${user}">
                <td th:text="*{username}">username</td>
                <td th:text="*{password}">password</td>
                <td th:text="*{roles}">[ROLE_1, ROLE_2]</td>
                <td>
                    <a class="btn btn-info" th:href="@{/admin/edit-user/{userId}(userId=*{id})}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
