<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container">
    <h1>Edit User: <span th:text="${user.username}"></span></h1>

    <form th:action="@{${#request.requestURI}}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="roles">Roles</label>
            <input type="text" id="roles" class="form-control"
                   name="roles" th:value="*{displayRoles}" required="required"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Update User" class="btn btn-primary"/>
        </div>
    </form>


</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
