<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<div class="container">
    <h1>Expenses</h1>

    <div class="d-flex justify-content-center my-3">
        <a th:href="@{/expense/new}" class="btn btn-success ">Add Expense</a>
    </div>

    <table th:replace="/expense/fragments :: table"></table>

</div>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
